/*列*/
@import './common/variables.scss';

/*栅栏列函数*/
@function createCol($colNum){
    @return 100%/$var-maxCol*$colNum;
}

/*列间隔函数*/
@function createColOffset($offsetNum){
    @return 100%/$var-maxCol*$offsetNum;
}

/*flex align-self*/
$flex-align-self:(auto:auto,start:flex-start,end:flex-end,center:center,baseline:baseline,stretch:stretch);



/*响应式
大于>1200px (电脑)


大于768<1024 设备（平板）

小与768设备 手机


*/


.bl-col{
    &.default{
        float: left;
    }
    
    
    @for $index from 1 through $var-maxCol{
        &.c#{$index}{
            width: createCol($index);
        }
        &.offset#{$index}{
            margin-left:createColOffset($index)
        }
    }

    &.flex{

        @each $className,$value in $flex-align-self {
            &.set-align-#{$className}{
                align-self:$value;
            }
        }
        
    }

    &.inline{
        display: inline-block;       
    }
}




