/*列*/
@import './common/variables.scss';

/*栅栏列函数*/
@function createCol($colNum){
    @return 100%/$var-maxCol*$colNum;
}

/*列间隔函数*/
@function createColOffset($offsetNum){
    @return 100%/$var-maxCol*$offsetNum;
}

/*flex align-self*/
$flex-align-self:(auto:auto,start:flex-start,end:flex-end,center:center,baseline:baseline,stretch:stretch);


.bl-col{
    &.default{
        float: left;
    }
    
    
    @for $index from 1 through $var-maxCol{
        &.c#{$index}{
            width: createCol($index);
        }
        &.offset#{$index}{
            margin-left:createColOffset($index)
        }
    }

    &.flex{

        &.align{
            @each $className,$value in $flex-align-self {
                .#{$className}{
                    align-self:$value;
                }
            }
        }
    }

    &.inline{
        display: inline-block;
    }
}




