.bl-md-editPanel>div{
   
    height: 100%;
}
.bl-md-row{
    background-color: #7d7d7d;
    color: white;
    padding: 0px 6px 0px 6px;
}

.bl-md-editPanel{
    >div{
        display: inline-block;
        //float: left;
    }
} 

.bl-md-content{
    vertical-align: top;
    background-color:#333333;
    color: white;
    outline: none;
    width: 50%;
    padding:0px 10px 0px 10px;

}
