    @import './common/variables.scss';

    /*默认float栅栏布局*/
    .bl-row{
        box-sizing: border-box;
        &::after{
            content: '';
            display: block;
            clear: both;
        }
    }

    /*flex布局*/
    .bl-row.flex{
        display: flex;
    }
    
    /*inline-block布局*/
    .bl-row.lineBlock{
  
        display: inline-block;
        
        &::before{
            content:"";
            display:inline-block;
            height: 100%;
                      
        }

        &::after{
            content:"";
            display:inline-block;
        }          
        
        /*水平属性*/
        &.center{
            text-align: center;
        }
        &.left{
            text-align: left;
        }
        &.right{
            text-align: right;
        }

        /*垂直属性*/
        &.top{
            vertical-align: top;
            &::before{
                vertical-align: top;
            }  
        }

        &.middle{
            vertical-align: middle;
            &::before{
                vertical-align: middle;
            }           
        }

        &.bottom{
            vertical-align: bottom;
            &::before{
                vertical-align: bottom;
            }               
        }

   
    }

    

   






